<header>
  
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 py-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Seleccionemos los archivos que se cargaran.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group mb-3">
                  <input accept=".xml" type="file" class="form-control" id="inputGroupFile02" (change)="selectFile($event)" multiple>
                  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="ConvertirArchivo(1)">Convertir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="../assets/documents.svg" alt="">
        <strong class="left-space">SRFE</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  <div *ngIf="menu==0">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Sistema Reportes Factura Electrónica</h1>
         
        </div>
      </div>
    </section>
    <div class="album  bg-light">
      <div class="container">
        <div class="row text-center">
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <button type="button" (click)="direccionar(1)" class="btn btn-outline-secondary"><img src="../assets/recibo.svg" class="card-img-top" alt="..."></button>
              <div class="card-body">
                <p class="card-text text-center">Faturas Electrónicas</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <button type="button" (click)="direccionar(2)" class="btn btn-outline-secondary"><img src="../assets/dinero.svg" class="card-img-top" alt="..."></button>
              <div class="card-body">
                <p class="card-text text-center">Notas de Debitos</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <button type="button" (click)="direccionar(3)" class="btn btn-outline-secondary"><img src="../assets/documents.svg" class="card-img-top" alt="..."></button>
              <div class="card-body">
                <p class="card-text text-center">Notas de Creditos</p>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="menu==1">
    <div class="card lateral-spaces">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-xs-12">
            <h1>Faturas Electrónicas</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4 col-xs-0 "></div>
            <div class="col-xl-4 col-md-4 col-xs-0"></div>
            <div class="col-xl-4 col-md-4 col-xs-12">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a hero by id or name or country">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
           
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Hero Name</th>
                <th>Country</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hero of heroes | filter:searchText">
                <td>{{hero.id}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.country}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="menu==2">
    <div class="card lateral-spaces">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-xs-12">
            <h1>Faturas Electrónicas</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4 col-xs-0 "></div>
            <div class="col-xl-4 col-md-4 col-xs-0"></div>
            <div class="col-xl-4 col-md-4 col-xs-12">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a hero by id or name or country">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
           
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Fecha</th>
                <th>Nombre del Emisor</th>
                <th>Cédula del Emisor</th>
                <th>Tipo de Documento</th>
                <th>Tipo de Factura</th>
                <th>Consecutivo</th>
                <th>Porcentaje de Impuesto</th>
                <th>Monto de Impuesto Hacienda</th>
                <th>Monto de Descuento</th>
                <th>Monto Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let f of FacturasElectronicas | filter:searchText">
                <td>{{f.FechaEmision}}</td>
                <td>{{f.Emisor.Nombre}}</td>
                <td>{{f.Emisor.Identificacion.Numero}}</td>
                <td>{{f.Clave}}</td>
                <td>{{f.MedioPago== '01'?'Contado':f.MedioPago== '02'?'Crédito':f.MedioPago== '03'?'Consignación':f.MedioPago== '04'?'Apartado':f.MedioPago== '05'?'Arrendamiento con Opción a Compra':f.MedioPago== '06'?'Arrendamiento en Función Financiera':f.MedioPago== '07'?'Cobro a Favor de un Tercero':f.MedioPago== '08'?'Servicio Prestado al Estado a Crédito':f.MedioPago== '09'?'Pago de Servicios Prestados al Estado':f.MedioPago== '99'?'Otros':'NA'}}</td>
                <td>{{f.NumeroConsecutivo}}</td>
                <td>{{f.id}}</td>
                <td>{{f.ImpuestoNeto}}</td>
                <td>{{f.Descuento.MontoDescuento}}</td>
                <td>{{f.country}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="menu==3">
    <div class="card lateral-spaces">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-xs-12">
            <h1>Faturas Electrónicas</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4 col-xs-0 "></div>
            <div class="col-xl-4 col-md-4 col-xs-0"></div>
            <div class="col-xl-4 col-md-4 col-xs-12">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a hero by id or name or country">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
           
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Hero Name</th>
                <th>Country</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hero of heroes | filter:searchText">
                <td>{{hero.id}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.country}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</main>

<footer class="mt-auto text-white-50 bg-dark shadow-sm">
  <p>Creador: William Montoya Arguedas(2021).</p>
</footer>

